/*.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .main-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .about-section {
    margin-bottom: 40px;
  }
  
  .about-section p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-image {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }
  */